<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Longhurst Brass Emporium: <%= pageTitle %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="shortcut icon" href="https://i.pinimg.com/originals/15/e1/44/15e1448aff067989819887028ebbd2af.jpg" type="image/x-icon">