<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1 class="centered">We're sorry but the page you are attempting to find isn't there. <br>When you do another run through we might be able to find it.</h1>
    <img src="https://i.pinimg.com/originals/60/8d/5a/608d5a3bd04cb77d013712459e7faa99.jpg" class="main-img"alt="One more time">

<%- include('includes/end.ejs') %>