<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Some error occured within one of our sections</h1>
    <p>By next rehearsal we will be able to figure it out, with our sectionals.</p>

<%- include('includes/end.ejs') %>