<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <h1 class="centered">Welcome to Longhurst Brass Emporium</h1>
        <div class="grid"> We have to offer many instruments, music selections. We have music for Brass Quintets, brass bands, Jazz bands, and sectional bands.</div>
        <img src="https://lh3.googleusercontent.com/proxy/a-_TYeF4TXlU76bq6WWikS6w05j87WPYMMCoeHTZtS-z_u_ylMxeq0qMe2mmV_v3HXC7kX4qZx94B2LN5DtBQUFu8ePQQW-UIGo7F8gdBXthFAajYEqAHVaTtTVEmg" class="main-img"alt="Brass Instruments">
    </main>
<%- include('../includes/end.ejs') %>